:root{
  /*var*/
}

@font-face{
  font-family: "FontFamilyChoosed";
  src: url(AprilSans-Regular.otf) format("opentype");
}

[DISABLED]{
  cursor: not-allowed;
}

[title]{
  cursor: help;
}

a{
  color: red;
  font-weight: bold;
  text-decoration: none;
}

body{
  background-image: url(background.png);
  font-family: "FontFamilyChoosed", serif;
  font-size: 2em;
}

button{
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "FontFamilyChoosed", serif;
  font-size: 1em;
  width: 100%;
}
button:hover{
  background-color: red;
  color: black;
}
button[DISABLED]{
  opacity: 0.2;
}

h1{
  margin: inherit;
  font-size: 5em;
  text-align: center;
}

hr{
  border: 2px dotted black;
}

input{
  background-color: inherit;
  border: none;
  font-family: "FontFamilyChoosed", serif;
  font-size: 1em;
  padding: inherit;
  width: 100%;
}

label{
  font-weight: bold;
  text-decoration: underline;
}

summary{
  color: white;
  cursor: pointer;
  background-color: black;
}
summary:hover{
  color: black;
  background-color: red;
}
details > summary {
  list-style: none;
}
summary:after {
   content: "+";
   color: red;
   float: left;
   font-weight: bold;
   margin: -6px 6px 0 6px;
}
details[open] summary:after {
   content: "-";
}
details:hover summary:after,  details[open]:hover summary:after{
   color: white;
}

textarea{
  min-width: 100%;
  max-width: 100%;
}

ul{
  list-style: square;
  margin: inherit;
}


#inscription, #lobby, #ingame, #endscore, footer{
  background-color: white;
  border: 2px dotted black;
  margin: auto;
  padding: 4px;
  width: 80%;
}

footer{
  margin-top: 75px;
  text-align: center;
}

#lobby, #ingame{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#lobby form, #lobby div{
  border: 2px solid black;
  padding: 4px;
  width: 47%;
}

#ingame div{
  overflow: auto;
  padding: 4px;
}

#head{
  border: 2px solid black;
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
}
#scoreboard{
  border: 2px solid black;
  width: 20%;
}
#scoreboard p{
  margin: inherit;
}
#draw{
  border: 2px solid black;
  width: 55%;
  text-align: center;
}
#chatbox{
  border: 2px solid black;
  width: 20%;
}
#chatbox p{
  margin: inherit;
}

#head{
  font-size: 2em;
  overflow: hidden;
  padding: 0px;
}
#clock{
  display: inline;
  position: relative;
  padding: 0px;
}
#clock img{
  image-rendering: crisp-edges;
  width: 64px;
}
#time{
  color: red;
  position: absolute;
  height: 64px;
  width: 64px;
  left: 0px;
  top: -32px;
}

#painting-options{
  text-align: center;
  position: relative;
}
#painting-options img{
  image-rendering: crisp-edges;
  width: 64px;
}
.color-quantity{
color: white;
position: absolute;
width: 64px;
left: 0px;
top: -32px;
}

#painting, .painting-show{
  border-collapse: collapse;
  margin: auto;
}
#painting td, .painting-show td{
  border: 1px solid black;
  height: 32px;
  width: 32px;
}

#color-points{
  text-align: center;
}

#word-finded{
  background-color: red;
  color : white;
  text-align: center;
}

#endscore table{
  border-collapse: collapse;
  margin: auto;
}
#endscore td{
  padding: 8px;
}

.artist{
  text-decoration: underline;
}

.highlight{
  color: red;
}

button:hover .highlight{
  color: white;
}
